<div class="border my-5 mx-5 rounded rounded-4 px-5 py-3" style="width:70%">
    <div class="">
        <div class="my-5 text-center">
            <h1 class="mb-5"><span class="fw-bold">Installez <br>votre borne de recharge</span><br> en quelques étapes !</h1>
            <div style="display: flex; flex-direction: row; justify-content:center;">
                <div style="display: flex; flex-direction:row; justify-content:space-between;">
                    <i class="bi bi-person-standing fs-3"></i>
                    <i class="bi bi-chat-left fs-6"></i>
                </div>
                <div class="mx-2">
                <p class="text-center">Pour le moment, nous installons des bornes uniquement dans <br>les <span class="fw-bold"> maisons individuelles en France (hors Corse) et Belgique Wallonne</span></p>
                </div>
            </div> 
            <div class="mx-auto my-5 border border-light bg-light bg-opacity-10 p-5 rounded fs-5" style="width:65%">
                <p>Voici les prochaines étapes :</p>
                <div class="px-5" style="display: flex; flex-direction: row; justify-content:space-around;">
                    <i class="bi bi-circle-fill fs-6 text-danger"></i>
                    <div class="horizontal-line"></div>
                    <i class="bi bi-circle fs-6 text-danger"></i>
                    <div class="horizontal-line"></div>
                    <i class="bi bi-circle fs-6 text-danger"></i>
                </div>
                <div class="mt-2" style="display: flex; flex-direction: row; justify-content:space-around;">
                    <p>Votre installation</p>
                    <p>Vos offres et services</p>
                    <p>À propos de vous</p>
                </div>
            </div>
            <div class="me-5" style="display: flex; flex-direction: row; justify-content:flex-end;">
                <p class="mx-2 my-auto">Durée du formulaire : 5 min</p>
                <button class="btn btn-dark" routerLink="/step1" routerLinkActive="active">Commencer<i class="bi bi-arrow-right-short"></i></button>
            </div>
        </div>
    </div>
  </div>