<div class="app-container">
    <div class="background-container"></div>
<div style="display: flex; flex-direction: row; justify-content:center;">
    <div class="border my-3 mx-5 rounded rounded-4 px-5 py-3" style="width:70%">
        <a class="nav-link text-secondary" routerLink="/step2" routerLinkActive="active"><i
                class="bi bi-chevron-left me-3"></i>À propos de vous</a>
        <div class="mx-5">
            <div class="mb-5 text-center">
                <i class="bi check bi-check-circle" style="font-size: 8rem"></i>
            </div>
            <h1 class="mb-5 text-center">Demande envoyée</h1>
            <div class="container" style="width:75%">
                <div class="bg-light bg-opacity-50 rounded rounded-4 pb-3 mb-5 mx-auto"
                    style="display: flex; flex-direction: column; justify-content:center;">
                    <div>
                        <h4 class="bg-info bg-opacity-25 rounded rounded-4 py-3 px-5 text-center">Confirmez votre
                            adresse mail et créez
                            votre espace personnel via l’email que nous venons d’envoyer </h4>
                    </div>
                    <div class="mx-4">
                        <h5 class="my-4">Vous pourrez :</h5>
                        <div class="mb-2" style="display: flex; flex-direction: column; justify-content:center;">
                            <div><i class="bi bi-arrow-right fw-bold fs-5"></i> Voir les différentes aides qui existent
                                afin
                                de valider votre devis</div>
                            <div><i class="bi bi-arrow-right fw-bold fs-5"></i> Ajouter les photos de votre installation
                            </div>
                            <div><i class="bi bi-arrow-right fw-bold fs-5"></i> Payer votre installation (4x sans frais
                                possible)</div>
                            <div><i class="bi bi-arrow-right fw-bold fs-5"></i> Suivre votre projet en toute sérénité
                                avec
                                nos experts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
