<div style="display: flex; flex-direction: row; justify-content:center;">
    <div class="border my-3 mx-5 rounded rounded-4 px-5 py-3" style="width:70%">
        <a class="nav-link text-secondary" routerLink="/step0" routerLinkActive="active"><i class="bi bi-chevron-left me-3"></i>Retour</a>
        <div class="mx-5">
            <h1 class="my-5 text-center">Votre installation</h1>
            <div class="container mx-5">
                <h6 class="fw-bold">Votre installation électrique est-t-elle bien en monophasé ?<i class="bi bi-info-circle text-danger fs-5 ms-2"></i></h6>
                <p class="my-4">90% des foyers français ont une installation électrique en monophasé.</p>
                <div style="display: flex; flex-direction: row; justify-content:flex-start;">
                    <a class="btn border border-dark rounded rounded-3 me-3">Je ne sais pas</a> 
                    <a class="btn border border-dark rounded rounded-3 me-3">Oui, monophasé</a> 
                    <a class="btn border border-dark rounded rounded-3 me-3">Non, triphasé</a> 
                </div>
                <!-- <h6 class="fw-bold my-4">Quelle est la puissance d’installation électrique chez vous ?<i class="bi bi-info-circle text-danger fs-5 ms-2"></i></h6>
                <select class="form-select" aria-label="selectKva">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select> -->
                <h6 class="fw-bold my-4">Où souhaitez-vous positionner votre borne de recharge ?</h6>
            </div>
        </div>
    </div>
</div>