<header class="sticky-top">
    <div class="border mt-2 mb-5 mx-5 rounded rounded-2 shadow px-5 {{currentRoute ==='step0' ? 'py-4': 'py-1'}} ">
        <div class="d-flex flex-wrap align-items-center">
            <div class="mx-auto">
                <a class="nav-link" routerLink="" routerLinkActive="active"
                    class="fw-bold text-black text-decoration-none fs-1">
                    <!-- Beev -->
                    <img src="../../assets/images/beev.svg" alt="Beev logo">
                </a>
            </div>
            @if(currentRoute!=="step0"){
            <div class="my-2" style="width:300px">
                <div style="height:20px">
                    <div style="display: flex; flex-direction: row; justify-content:center;">
                        <i class="bi {{ currentRoute==='step1' ? ' bi-circle-fill':' bi-circle'}} fs-6 text-info"></i>
                        <div class="horizontal-line"></div>
                        <i class="bi {{ currentRoute==='step2' ? ' bi-circle-fill':' bi-circle'}} fs-6 text-info"></i>
                        <div class="horizontal-line"></div>
                        <i class="bi {{ currentRoute==='step3' ? ' bi-circle-fill':' bi-circle'}} fs-6 text-info"></i>
                    </div>
                </div>
                <div class="mt-1 text-center" style="display: flex; flex-direction: row; justify-content:center;">
                    <p>Votre installation</p>
                    <p>Vos offres et services</p>
                    <p>À propos de vous</p>
                </div>
            </div>
            }
            <div class="mx-auto">
                <a class="btn border border-dark rounded rounded-3" href="tel:01 76 35 06 14"><i
                        class="bi bi-telephone-fill"></i> 01 76 35 06 14</a>
            </div>
        </div>
    </div>
</header>