.horizontal-line {
    position: relative;
    top: 10px; /* Adjust the top position as needed */
    border: none;
    border-top: 1px solid ; /* Adjust the color as needed */
    width: 30%; /* Adjust width as needed */
  }
