<footer class="footer bottom" style="width:100%; height:200px">
    <div class="mx-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 my-5">
            <div class="col mb-2">
                <a class="nav-link" routerLink="" routerLinkActive="active"
                    class="fw-bold text-black text-decoration-none fs-1">
                    <!-- Beev -->
                    <img src="../../assets/images/beev.svg" alt="Beev logo">
                </a>
                <p class="mb-4">Une équipe d’experts à vos côtés tout au long de votre projet de mobilité électrique.</p>
                <p>★★★★★</p>
                <small>4,9 - Rapide et bienveillant !</small>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">Média</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.beev.co/blog/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Blog</a></li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/blog/borne-de-recharge/recharger-sa-voiture-electrique/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Quand me recharger?</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/espace-presse/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Presse</a></li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">À propos</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.welcometothejungle.com/fr/companies/beev" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">On recrute !</a></li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/beev-manifeste/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Manifeste</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/conditions-generales-de-vente/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">CGV</a></li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">Liens utiles</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.beev.co/faq/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/voitures-electriques/leasing/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Leasing</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/espace-personnel?user_type=Particulier" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Espace personnel</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/aides_simulator?step=1&user_type=Particulier" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Simulateur d'aides</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/simulator_advenir?user_type=Particulier" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Simulateur Advenir</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/suggestion?user_type=Particulier" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Suggestions des clients</a>
                    </li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">Réseaux sociaux</h6>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.instagram.com/beevfr/?hl=fr" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Instagram</a></li>
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/beevcar/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Facebook</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.youtube.com/channel/UCWld5GtnwZ1-0WqEi6oNPlA" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">YouTube</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://twitter.com/beevfr" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Twitter</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.linkedin.com/company/beev?originalSubdomain=fr" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark text-secondary">LinkedIn</a>
                    </li>
    
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <a class="btn btn-dark rounded rounded-4 text-white mb-3" href="mailto:your@email.com"><i class="bi bi-envelope-fill me-1"></i> Contactez nous</a>
                <a class="btn border border-dark rounded rounded-4" href="tel:01 76 35 06 14"><i
                    class="bi bi-telephone-fill me-1"></i> 01 76 35 06 14</a>
            </div>
        </div>
        <div class="ms-5 d-flex flex-column flex-sm-row justify-center py-4 my-4">
            <div class="mx-auto">
            <ul class="list-unstyled d-flex">
                <li class="text-secondary"><a href="https://www.beev.co/nos-partenaires/" target="_blank"
                    class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Nos partenaires</a></li>
                <li class="ms-3 text-secondary"><a href="https://www.beev.co/donnees-personnelles/" target="_blank"
                    class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Données personnelles</a></li>
                <li class="ms-3 text-secondary"><a href="https://www.beev.co/mentions-legales/" target="_blank"
                    class="nav-link p-0 d-flex align-items-center link-dark text-secondary">Mentions légales</a></li>
                
            </ul>
        </div>
            <div class="mx-auto d-flex flex-column flex-sm-row justify-content-end">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 90 90">
                <defs>
                  <linearGradient id="linear-gradient" x1="0.88" y1="0.223" x2="0.073" y2="1.101" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#a5d2ff"/>
                    <stop offset="1" stop-color="#fdc2b4"/>
                  </linearGradient>
                </defs>
                <g id="Groupe_353" data-name="Groupe 353" transform="translate(0.254 0.164)">
                  <circle id="Ellipse_12" data-name="Ellipse 12" cx="45" cy="45" r="45" transform="translate(-0.254 -0.164)" fill="url(#linear-gradient)"/>
                  <path id="Union_8" data-name="Union 8" d="M10.448,48.07V28.55H18.7V41.47H30.824a7.861,7.861,0,0,0,8.036-7.679,8.007,8.007,0,0,0-8.321-7.821H2.65L0,19.731H29.312c13.878,0,17.729,8.751,17.729,14.493,0,7.893-6.1,13.846-14.925,13.846ZM38.869,18.823A22.714,22.714,0,0,0,34.6,17.634a6.781,6.781,0,0,0,1.821-4.65c0-3.586-3.015-6.386-6.963-6.386H18.7v10.59H10.448V0H31.542c7.1,0,12.987,5.381,12.987,12.483a11.2,11.2,0,0,1-2.918,7.687A18.528,18.528,0,0,0,38.869,18.823Z" transform="translate(20.375 22.436)" fill="#001010"/>
                </g>
              </svg>
              <p span class="fw-bold fs-5 ms-3">Time for electric</p>
              </div>
        </div>
    </div>
</footer>