<footer class="footer" style="width:100%; height:200px">
    <div class="mx-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 my-5">
            <div class="col mb-2">
                <a class="nav-link" routerLink="" routerLinkActive="active"
                    class="fw-bold text-black text-decoration-none fs-1">
                    <!-- Beev -->
                    <img src="../../assets/images/beev.svg" alt="Beev logo">
                </a>
                <p class="mb-4">
                    @if(language ==='french'){
                    Une équipe d’experts à vos côtés tout au long de votre projet de mobilité électrique.
                    }@else if(language ==='english') {
                    A team of experts at your side throughout your electric mobility project.
                    }
                </p>
                <small>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </small>
                <br>
                <small>
                    @if(language ==='french'){
                    4,9 - Rapide et bienveillant !
                    }@else if(language ==='english') {
                    4.9 - Fast and friendly!
                    }
                </small>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">
                    @if(language ==='french'){
                    Média
                    }@else if(language ==='english') {
                    Media
                    }
                </h6>
                <ul class="nav flex-column {{darkTheme?'text-dark':'text-secondary'}}">
                    <li class="nav-item mb-2"><a href="https://www.beev.co/blog/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">Blog</a></li>
                    <li class="nav-item mb-2"><a
                            href="https://www.beev.co/blog/borne-de-recharge/recharger-sa-voiture-electrique/"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Quand me recharger?
                            }@else if(language ==='english') {
                            When should I recharge?
                            }
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/espace-presse/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Presse
                            }@else if(language ==='english') {
                            Press
                            }
                        </a></li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">
                    @if(language ==='french'){
                    À propos
                    }@else if(language ==='english') {
                    About
                    }
                </h6>
                <ul class="nav flex-column {{darkTheme?'text-dark':'text-secondary'}}">
                    <li class="nav-item mb-2"><a href="https://www.welcometothejungle.com/fr/companies/beev"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            On recrute !
                            }@else if(language ==='english') {
                            We are recruiting!
                            }
                        </a></li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/beev-manifeste/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Manifeste
                            }@else if(language ==='english') {
                            Manifest
                            }
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/conditions-generales-de-vente/"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            CGV
                            }@else if(language ==='english') {
                            General Terms and Conditions
                            }
                        </a></li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">
                    @if(language ==='french'){
                    Liens utiles
                    }@else if(language ==='english') {
                    Useful links
                    }
                </h6>
                <ul class="nav flex-column {{darkTheme?'text-dark':'text-secondary'}}">
                    <li class="nav-item mb-2"><a href="https://www.beev.co/faq/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">FAQ</a></li>
                    <li class="nav-item mb-2"><a href="https://www.beev.co/voitures-electriques/leasing/"
                            target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">Leasing</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/espace-personnel?user_type=Particulier"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Espace personnel
                            }@else if(language ==='english') {
                            Personal space
                            }
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/aides_simulator?step=1&user_type=Particulier"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Simulateur d'aides
                            }@else if(language ==='english') {
                            Aid simulator
                            }
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/simulator_advenir?user_type=Particulier"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Simulateur Advenir
                            }@else if(language ==='english') {
                            Future Simulator
                            }
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://app.beev.co/suggestion?user_type=Particulier"
                            target="_blank" class="nav-link p-0 d-flex align-items-center link-dark">
                            @if(language ==='french'){
                            Suggestions des clients
                            }@else if(language ==='english') {
                            Customer Suggestions
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col mb-2 my-4">
                <h6 class="mb-4">
                    @if(language ==='french'){
                    Réseaux sociaux
                    }@else if(language ==='english') {
                    Social networks
                    }
                </h6>
                <ul class="nav flex-column {{darkTheme?'text-dark':'text-secondary'}}">
                    <li class="nav-item mb-2"><a href="https://www.instagram.com/beevfr/?hl=fr" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">Instagram</a></li>
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/beevcar/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">Facebook</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.youtube.com/channel/UCWld5GtnwZ1-0WqEi6oNPlA"
                            target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">YouTube</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://twitter.com/beevfr" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">Twitter</a>
                    </li>
                    <li class="nav-item mb-2"><a href="https://www.linkedin.com/company/beev?originalSubdomain=fr"
                            target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark">LinkedIn</a>
                    </li>

                </ul>
            </div>
            <div class="col mb-2 my-4">
                <a class="btn btn-dark rounded rounded-4 text-white mb-3" href="mailto:your@email.com"><i
                        class="bi bi-envelope-fill me-1"></i>
                    @if(language ==='french'){
                    Contactez nous
                    }@else if(language ==='english') {
                    Contact us
                    }
                </a>
                <a class="btn border border-dark rounded rounded-4" href="tel:01 76 35 06 14"><i
                        class="bi bi-telephone-fill me-1"></i> 01 76 35 06 14</a>
            </div>
        </div>
        <div class="ms-5 d-flex flex-column flex-sm-row justify-center py-4 my-4">
            <div class="mx-auto">
                <ul class="list-unstyled d-flex">
                    <li class=""><a href="https://www.beev.co/nos-partenaires/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark {{darkTheme?'text-white-50':'text-secondary'}}">
                            @if(language ==='french'){
                            Nos partenaires
                            }@else if(language ==='english') {
                            Our partners
                            }
                        </a></li>
                    <li class="ms-3"><a href="https://www.beev.co/donnees-personnelles/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark {{darkTheme?'text-white-50':'text-secondary'}}">
                            @if(language ==='french'){
                            Données personnelles
                            }@else if(language ==='english') {
                            Personal data
                            }
                        </a></li>
                    <li class="ms-3"><a href="https://www.beev.co/mentions-legales/" target="_blank"
                            class="nav-link p-0 d-flex align-items-center link-dark {{darkTheme?'text-white-50':'text-secondary'}}">
                            @if(language ==='french'){
                            Mentions légales
                            }@else if(language ==='english') {
                            Legal Notice
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto d-flex flex-column flex-sm-row justify-content-end">
                <img class="mb-3" src="../../assets/images/b.svg" alt="b circle logo" width="15%">
                <p span class="fw-bold fs-5 ms-3">Time for electric</p>
            </div>
        </div>
    </div>
</footer>