.option {
    /* background-color: rgb(236, 232, 238); */
    background-color: "url(#paint0_linear_252_4327)";
    /* Gradient definition */
    background-image: linear-gradient(90deg,  #e0ecf8, #f5e3df);
}

.clicked {
    background-color: black;
}