.option {
    /* background-color: rgb(236, 232, 238); */
    background-color: "url(#paint0_linear_252_4327)";
    /* Gradient definition */
    background-image: linear-gradient(45deg, #FDC2B4, #A5D2FF);
}

.clicked {
    background-color: black;
}