<div style="display: flex; flex-direction: row; justify-content:center;">
    <div class="border my-3 mx-5 rounded rounded-4 px-5 py-3" style="width:70%">
        <a class="nav-link text-secondary" routerLink="/step1" routerLinkActive="active"><i
                class="bi bi-chevron-left me-3"></i>Votre installation</a>
        <div class="mx-5">
            <h1 class="my-5 text-center">Vos offres et services</h1>
            <div class="container mx-5">
                <h6 class="fw-bold">Quel type de borne de recharge souhaitez-vous ?</h6>
                <p class="my-4">Beev vous conseille de prendre une borne connectée afin de pouvoir : planifier votre
                    recharge, activer/désactiver votre borne, suivre/exporter des données. En cas de doute, demandez
                    conseils à nos experts.</p>
                <div style="display: flex; flex-direction: row; justify-content:flex-start;">
                    <button class="btn btn-outline-dark rounded rounded-3 me-3" [class.active]="buttonOption1"
                        (click)="clickedOption1()">
                        <div style="display: flex; flex-direction: row; justify-content:flex-start;">
                            La borne connectée
                        </div>
                    </button>
                    <button class="btn btn-outline-dark rounded rounded-3 me-3" [class.active]="buttonOption2"
                        (click)="clickedOption2()">
                        <div style="display: flex; flex-direction: row; justify-content:flex-start;">
                            La borne non connectée Circontrol eHome
                        </div>
                    </button>
                    <button class="btn btn-outline-dark rounded rounded-3 me-3" [class.active]="buttonDontKnow"
                        (click)="clickedDontKnow()">Je ne sais pas</button>
                </div>
            </div>
        </div>
    </div>
</div>