<div class="mb-5" style="display: flex; flex-direction: row; justify-content:center;">
    <div class="border my-3 mx-5 rounded rounded-4 px-5 py-3" style="width:70%">
        <a class="nav-link {{darkTheme?'text-dark':'text-secondary'}}" routerLink="/step2" routerLinkActive="active"><i
                class="bi bi-chevron-left me-3"></i>
            @if(language ==='french'){
            Vos offres et services
            }@else if(language ==='english') {
            Your offers and services
            }
        </a>
        <div class="mx-5">
            <h1 class="my-5 text-center">
                @if(language ==='french'){
                À propos de vous
                }@else if(language ==='english') {
                About you
                }
            </h1>
            <div class="container">
                <div style="display: flex; flex-direction: row; justify-content:center;">
                    <p class="bg-info bg-opacity-10 rounded rounded-5 py-3 px-4" style="width:65%">
                        @if(language ==='french'){
                        Pourquoi nous partager vos informations personnelles ? Cela nous permet de vous transmettre un
                        devis détaillé et de suivre votre demande avec l’un de nos experts.
                        }@else if(language ==='english') {
                        Why share your personal information with us? This allows us to send you a detailed quote and
                        follow up your request with one of our experts.
                        }
                    </p>
                </div>
            </div>
        </div>
        @if(!submitted){
        <div class="my-5">
            <form class="row g-3" (submit)="onSubmit()" [formGroup]="step3Form">
                <div class="form-group col-md-6">
                    <label for="name" class="form-label">
                        @if(language ==='french'){
                        Nom
                        }@else if(language ==='english') {
                        Name
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <input type="text"
                        class="form-control rounded rounded-4 {{ step3Form.get('name')?.hasError('required') && step3Form.get('name')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}"
                        name="name" id="name" formControlName="name" autocomplete="given-name">
                    @if(step3Form.get('name')?.hasError('required') &&
                    step3Form.get('name')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                    </span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname" class="form-label">
                        @if(language ==='french'){
                        Prénom
                        }@else if(language ==='english') {
                        First name
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <input type="text"
                        class="form-control rounded rounded-4 {{ step3Form.get('lastname')?.hasError('required') && step3Form.get('lastname')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}"
                        name="lastname" id="lastname" formControlName="lastname" autocomplete="family-name">
                    @if(step3Form.get('lastname')?.hasError('required') &&
                    step3Form.get('lastname')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                        </span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="telephone" class="form-label">
                        @if(language ==='french'){
                        Numéro de téléphone
                        }@else if(language ==='english') {
                        Phone number
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <input type="tel" name="telephone" id="telephone" formControlName="telephone" autocomplete="tel"
                        class="form-control rounded rounded-4 {{ step3Form.get('telephone')?.hasError('required') && step3Form.get('telephone')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}">
                    @if(step3Form.get('telephone')?.hasError('required') &&
                    step3Form.get('telephone')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                        </span>
                    }
                    @if(step3Form.get('telephone')?.hasError('pattern') &&
                    step3Form.get('telephone')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Un numéro de téléphone valide ne peut contenir que des chiffres, et +()-. ou x':
                         'A valid phone number can only contain digits, and +()-. or x'}}
                        </span>
                    }
                    @if(step3Form.get('telephone')?.hasError('maxlength') &&
                    step3Form.get('telephone')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Le numéro que vous avez saisi n`est pas dans la plage.':
                        'The number you entered is not in range.'}}
                        </span>
                    }
                    @if(step3Form.get('telephone')?.hasError('minlength') &&
                    step3Form.get('telephone')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Le numéro que vous avez saisi n`est pas dans la plage.':
                        'The number you entered is not in range.'}}
                        </span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="email" class="form-label">E-mail<span class="text-danger fw-bold">*</span></label>
                    <input type="text" id="email" name="email" formControlName="email" autocomplete="email"
                        class="form-control rounded rounded-4 {{ step3Form.get('email')?.hasError('required') && step3Form.get('email')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}">
                    @if(step3Form.get('email')?.hasError('required') &&
                    step3Form.get('email')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                        </span>
                    }
                    @if((step3Form.get('email')?.hasError('email') &&
                    step3Form.get('email')?.touched) || emailSuggestionFlag){
                    <span class="text-danger">
                        {{language ==='french'?
                        'L`adresse e-mail doit être indiquée dans un format approprié.':
                        'The email address must be provided in an appropriate format.'}}
                        </span>
                    }
                    @if(emailSuggestionFlag){
                        <br>
                        <a (click)="suggestioncClick()">
                            <span>
                                <small>{{language ==='french'?
                                'Vouliez-vous dire : ':
                                'Did you mean : '}}</small>
                                {{suggestion}} ?
                            </span>
                        </a>
                    }
                </div>
                <div class="form-group col-md-12">
                    <label for="address" class="form-label">
                        @if(language ==='french'){
                        Adresse postale
                        }@else if(language ==='english') {
                        Address
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <div>
                        <small class="{{darkTheme?'text-text-white-50':'text-secondary'}}">
                            @if(language ==='french'){
                            Votre adresse nous permet uniquement de définir quel installateur se situe dans votre
                            secteur.
                            }@else if(language ==='english') {
                            Your address only allows us to define which installer is located in your area.
                            }
                        </small>
                    </div>
                    <input type="text" name="address" id="address" formControlName="address"
                        autocomplete="street-address"
                        class="form-control rounded rounded-4 {{ step3Form.get('address')?.hasError('required') && step3Form.get('address')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}">
                    @if(step3Form.get('address')?.hasError('required') &&
                    step3Form.get('address')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                        </span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="postalCode" class="form-label">
                        @if(language ==='french'){
                            Code postal
                        }@else if(language ==='english') {
                            Postal code
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <input type="number"
                        class="form-control rounded rounded-4 {{ step3Form.get('postalCode')?.hasError('required') && step3Form.get('postalCode')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}"
                        name="postalCode" id="postalCode" formControlName="postalCode" autocomplete="postal-code">
                    @if(step3Form.get('postalCode')?.hasError('required') &&
                    step3Form.get('postalCode')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                    </span>
                    }
                </div>
                <div class="form-group col-md-6">
                    <label for="city" class="form-label">
                        @if(language ==='french'){
                            Ville
                        }@else if(language ==='english') {
                            City
                        }
                        <span class="text-danger fw-bold">*</span></label>
                    <input type="text"
                        class="form-control rounded rounded-4 {{ step3Form.get('city')?.hasError('required') && step3Form.get('city')?.touched ?'border border-danger':''}} {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}"
                        name="city" id="city" formControlName="city">
                    @if(step3Form.get('city')?.hasError('required') &&
                    step3Form.get('city')?.touched){
                    <span class="text-danger">
                        {{language ==='french'?
                        'Veuillez remplir ce champ obligatoire.':
                        'Please complete this required field.'}}
                    </span>
                    }
                </div>
                <div class="form-group col-md-12">
                    <label for="referralCode" class="form-label">
                        @if(language ==='french'){
                        Code de parrainage
                        }@else if(language ==='english') {
                        Referral Code
                        }
                    </label>
                    <input type="text" name="referralCode" id="referralCode" formControlName="referralCode"
                        class="form-control rounded rounded-4 {{darkTheme?'bg-light bg-opacity-25':'bg-light'}}">
                </div>
                <div class="form-group col-12">
                    <div class="form-check">
                        <input type="checkbox" value="" name="newsletter" id="newsletter" formControlName="newsletter"
                            class="form-check-input border-dark {{darkTheme?'bg-light bg-opacity-75 ':''}}">
                        <label class="form-check-label" for="newsletter">
                            @if(language ==='french'){
                            M'inscrire à la newsletter de Beev
                            }@else if(language ==='english') {
                            Subscribe to the Beev newsletter
                            }
                        </label>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="form-check">
                        <input type="checkbox" value="" id="invalidCheck" name="invalidCheck"
                            formControlName="invalidCheck"
                            class="form-check-input border-dark {{darkTheme?'bg-light bg-opacity-75 ':''}}">
                        <label class="form-check-label" for="invalidCheck">
                            @if(language ==='french'){
                            J`accepte la politique de <a href="https://www.beev.co/donnees-personnelles/"
                                target="_blank">traitement des données</a> de Beev<span
                                class="text-danger fw-bold">*</span>
                            }@else if(language ==='english') {
                            I accept the policy of <a href="https://www.beev.co/donnees-personnelles/"
                                target="_blank">data processing</a> by Beev<span class="text-danger fw-bold">*</span>
                            }
                        </label>
                        
                    </div>
                    @if(step3Form.get('invalidCheck')?.hasError('required') &&
                        step3Form.get('invalidCheck')?.touched){
                        <span class="text-danger">
                            {{language ==='french'?
                            'Veuillez remplir ce champ obligatoire.':
                            'Please complete this required field.'}}
                            </span>
                        }
                        @if(step3Form.invalid && step3Form.touched){
                        <p class="text-danger mt-2">
                            {{language ==='french'? 
                            'Veuillez remplir tous les champs requis.':
                            'Please complete all required fields.'}}
                        </p>
                        }
                </div>
                <div class="col-12 text-center my-4">
                    <!-- <button class="btn btn-dark rounded rounded-4 mt-3 px-4" type="submit"  routerLink="/end" routerLinkActive="active" (click)="onSubmit()">Soumettre</button> -->
                    <button class="btn btn-dark rounded rounded-4 mt-3 px-4" type="submit">
                        @if(language ==='french'){
                        Soumettre
                        }@else if(language ==='english') {
                        Submit
                        }
                    </button>
                </div>
            </form>
        </div>
        }@else{
        <div class="m-5 text-center">
            <p class="fs-4">
                @if(language ==='french'){
                Envoi de vos informations à nos équipes...
                }@else if(language ==='english') {
                Sending your information to our teams...
                }
            </p>
            <div class="spinner-border m-5" role="status" style="width: 10rem; height: 10rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        }
    </div>
</div>